/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #31363b;
    color: #fff;
}

/* nav bar */
nav ul {
    display: flex;
    min-width: 300px;
}

nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
}

li a {
    font-size: 125%;
    padding: 5px;
    margin: 5px;
}

/* banner */
.banner {
    background-image: url(../banner-image.jpg);
    max-width: 100%;
    margin: 0px;
    background-size: cover;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.subtitle {
    padding: 5px;
    color: white;
    background-color: black;
    margin: 20px;
    font-size: 10px;
}

/* main contents */
.row {
    display: flex;
    padding: 1%;
    background-color: #ffffff;
    text-align: right;
}

.title {
    padding: 5px;
    border-right: 3px solid;
    min-width: 198px;
}

.details {
    width: 100%;
    margin: 10px;
    padding: 5px;
}

.projects {
    min-width: 100%
}

.mainCard {
    position: relative;
    border: 5px solid rgb(46, 106, 132);
    min-height: 247px;
    padding: 5px;
}

.small-card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.main-card-wrapper {
    padding: 5px;
    margin: 11px;
}

.mini-inner {
    width: 50%
}

.miniCard {
    border: 5px solid rgb(46, 106, 132);
    margin: auto;
    margin-bottom: 20px;
    min-width: 50%;
    min-height: 247px;
    padding: 5px;
    margin: 16px;
    position: relative;
}

.cardHeader {
    text-align: left;
    background-color: rgb(46, 106, 132);
    margin-left: -6px;
    position: absolute;
    bottom: 16px;
}

/* footer contents */
.footerNav a {
    color: #2875a1;
    font-weight: bold;
    text-decoration: none;
}

.footerNav a:hover {
    color: rgb(36, 31, 31);
}

/* media queries */
@media screen and (max-width: 768px) {
    .mini-inner {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .mini-inner {
        width: 50%;
    }


}